variables:
  NODE_VERSION: 16.x
  _FORCE_LOGS: 1
  CI: true
  MOCHA_TIMEOUT: 360000


parameters:
- name: integrationJobs
  type: object
  default:
  - name: sdk22_e2e_tests_bootstrap
    category: /bootstrap
  # TODO: Update tests to comply with W3C
  # - name: sdk22_e2e_tests_functional
  #   category: /
  # - name: sdk22_e2e_tests_commands
  #   category: /commands
  # - name: sdk22_e2e_tests_keyboard_commands
  #   category: /commands/keyboard
  - name: sdk22_e2e_tests_basic_commands
    category: /commands/basic
  # - name: sdk22_e2e_tests_find_commands
  #   category: /commands/find
  # - name: sdk22_e2e_tests_touch_commands
  #   category: /commands/touch


stages:
- stage: Unit_Tests_And_Linters
  jobs:
  - job: Unit_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(NODE_VERSION)
    - script: |
        npm install -g appium@next
        npm run build
      displayName: Install Node dependencies
    - script: npm run lint
      displayName: Linter
    - script: npm run test
      displayName: Tests
- stage: Integration_Tests
  jobs:
  - ${{ each job in parameters.integrationJobs }}:
    - template: .azure-pipelines/templates/android-e2e-template.yml
      parameters:
        name: ${{ job.name }}
        category: ${{ job.category }}
