node_modules
build
*.log
.DS_Store
.idea/
*.iml
coverage
.nyc_output/
package-lock.json*

.idea
target
out
bootstrap/bin/*
!bootstrap/bin/AppiumBootstrap.jar
bootstrap/local.properties
bootstrap/.classpath
bootstrap/target/
